service:
  name: product-page-svc
  port: 80


productionDeployment:
  replicaCount: 2
  weight: 10
  image:
    repository: diquzart/php-webapp
    tag: latest
    pullPolicy: IfNotPresent


canaryDeployment:
  replicaCount: 2
  weight: 90
  image:
    repository: diquzart/php-webapp
    tag: 29
    pullPolicy: IfNotPresent

